{% extends "base.html" %}

{% block class %}class="sub_page" {% endblock class %}
{% block main %}
<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Book A Table
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            <div class="alert alert-success">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </div>
            {% endif %}
            <div>
              {{ form.Name }}
            </div>
            <div>
              {{ form.Phone_number }}
            </div>
            <div>
              {{ form.Email }}
            </div>
            <div>
              {{ form.Total_person }}
            </div>
            <div>
              {{ form.Booking_date }}
            </div>
            <div class="btn_box">
              <button type="submit">
                Book Now
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container ">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->


{% endblock main %}